.nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
  // padding: 0 25px;
  // padding-top: 30px;

  .nav-blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    img {
      display: block;
      max-width: 50px;
      // cursor: pointer;
      margin: 0 10px 10px 0;
    }
    p {
      font-size: 20px;
      font-weight: bolder;
      color: rgb(8, 8, 8);
      opacity: 0.8;
      align-self: center;
      margin: 0 10px 10px 0;
    }
  }
}
